<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>:</h1>
    <h2>Vektorielle Analyse Ebener Mechanismen</h2>
    <a href="/seilmec">Aufgabentyp 1: Seilmechanismus (Parameter: h)</a><br>
    <a href="/kurbelschwinge">Aufgabentyp 2: Kurbelschwinge (Parameter: a, b, c, d, e)</a>
  </body>
</html>
